table {
  display: flex;
  justify-content: center;
  background: url(./images/fundo.png) repeat;
  height: 700px;
  margin: -.4rem 1rem;
}

table .header {
  width: 100%;
  max-width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin: 10px;
}

table tr:nth-child(2) {
  display: flex;
  flex-direction: column;
}

table tr:nth-child(2) td:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table tr:nth-child(2) td:nth-child(2) {
  width: 100%;
  max-width: 60rem;
}

table tr:nth-child(2) td img {
  width: 100%;
  max-width: 70rem;
}

table tr:nth-child(2) td:nth-child(2) h4 {
  text-align: center;
}