* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: rgb(255, 187, 0);
  --secundary-color: grey;
}

.area-cabecalho {
  background-color: var(--body-color);
  max-width: 1460px;
  width: 100%;
  padding: 2rem;
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-navegacao {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

.area-navegacao a {
  display: inline-block;
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: .7rem 1.5rem;
  margin: 0 .3em;
}

.area-navegacao a:hover {
  background: #fff;
  color: black;
  border-radius: 10px;
}

.corpo-postagens {
  display: flex;
  flex-direction: row;
  margin: 10rem auto 1rem auto;
  padding: 10px;
  max-width: 1200px;
  width: 100%;
}

.area-posts {
  padding: 10px;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
}

.corpo-postagens .posts h2 {
  color: var(--body-color);
}

.area-posts .posts .data-postagem,
.descricao {
  font-size: 0.8rem;
}

.corpo-postagens img {
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
}

.post-recentes h3,
.categorias h3 {
  padding: 10px;
  background-color: var(--secundary-color);
  border-radius: 5px 5px 0 0;
}

.recentes {
  padding: 5px;
}

.area-lateral {
  width: 300px;
  margin: 1rem 1rem;
}

@media screen and (max-width: 640px) {
  .area-lateral {
    display: none;
  }
}

.categorias .categoria nav {
  display: flex;
  flex-direction: column;
}

.categoria nav a {
  text-decoration: none;
  color: rgb(212, 191, 0);
  font-weight: bold;
}

footer h3 {
  padding: .3rem;
  background-color: var(--secundary-color);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.txt-ct {
  text-align: center;
}

.txt-bk {
  color: black;
}

.txt-start {
  text-align: start;
}

.pd-geral {
  padding: 0 10px;
}

.mt-auto {
  margin: 0 auto;
}