* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: rgb(255, 187, 0);
  --secundary-color: grey;
}

.area-cabecalho {
  background-color: var(--body-color);
  max-width: 1460px;
  width: 100%;
  font-size: 1em;
  padding: 2rem;
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.area-navegacao nav a {
  color: white;
  font-weight: bold;
  margin: 2rem;
  flex-wrap: wrap;
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 1rem 0;
}

.corpo-postagens {
  margin: 0 20rem 0 auto;
  padding: 10px;
  max-width: 660px;
  width: 90%;
  border: 1px solid red;
}

.area-posts {
  padding: 10px;
  max-width: 620px;
  width: 80%;
  margin: 0 auto;
}

.corpo-postagens .posts h2 {
  color: var(--body-color);
}

.corpo-postagens img {
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
}

.post-recentes h3,
.categorias h3 {
  padding: 10px;
  background-color: var(--secundary-color);
  border-radius: 5px 5px 0 0;
}

.recentes {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.area-lateral {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16rem;
  left: 75%;
  margin-left: 1rem;
  max-width: 20em;
}

@media screen and (max-width: 650px) {
  .area-lateral {
  display: none;
  }
}

.categorias .categoria nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categoria nav a {
  text-decoration: none;
  color: rgb(212, 191, 0);
  font-weight: bold;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.txt-ct {
  text-align: center;
}

.txt-bk {
  color: black;
}

.txt-start {
  text-align: start;
}

.pd-geral {
  padding: 0 10px;
}