body {
  background-image: url(../images/fundo.png);

}
#topo-da-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#topo-da-pagina img {
  min-width: 95%;
  width: 1em;
}


.navBar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.navBar a {
  color: rgb(25, 57, 105);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 1em;
  text-decoration: none;
}

#corpo-da-pagina {
  min-width: 90%;
  width: 25rem;
  background-color: white;
  margin: auto auto;
}

#corpo-da-pagina h1 {
  margin: 1rem;
}

#corpo-da-pagina p {
  min-width: 90%;
  width: 5em;
  margin: 0 20px;
}

#corpo-da-pagina .sobre-anna  img {
  min-width: 80%;
  width: 2em;
  margin: 2rem 3rem;
}