body {
  background-image: url(../images/fundo.png);

}
#topo-da-pagina {
  margin: 1rem;
}

#topo-da-pagina img {
  max-width: 40rem;
  width: 95%;
}


.navBar {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.navBar a {
  color: rgb(25, 57, 105);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  flex-wrap: wrap;
}

#corpo-da-pagina {
  max-width: 40rem;
  width: 90%;
  text-align: start;
}

#corpo-da-pagina h4 {
  text-align: center;
  padding: 1rem;
}

#corpo-da-pagina p {
  margin: 0 20px;
}